<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>57032811526-9lk9qg6n9bfln4rc6e0rkdtts1m4lvt0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.57032811526-9lk9qg6n9bfln4rc6e0rkdtts1m4lvt0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>57032811526-3b2v7sg0cupq4fe9kfbvgaelnm385ua5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBTrGyxKvAVj7JQbc5TkXjhvE0364K3nCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>57032811526</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cavalcade</string>
	<key>PROJECT_ID</key>
	<string>cavalcade-2c924</string>
	<key>STORAGE_BUCKET</key>
	<string>cavalcade-2c924.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57032811526:ios:cad4461fc99d8953258f87</string>
</dict>
</plist>